@font-face {
   font-family: logo-font;
   src: url(Assets/Norse-Bold.otf);
}

:root{
   font-size: 18px;
}


p,body{
   margin: 0;
   padding: 0;
}
 
.container{
   display: flex;
   height: 100vh;
}

.left-container{
   flex: 1; 
   background-image: url('Assets/photo.avif');
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,.5);
   color: white;
   padding: 15px 0;
   font-family: logo-font , sans-serif ;
   font-size: 5.5rem; 
   margin-top: 220px;
}


.logo img{
   width: 100px;
   height: auto;
}
  


.right-container{
   flex: 2;
   display: flex;
   flex-direction: column;
   background-color: #F9FAFB;
}

.right-container > div{
   height: 200px;
   flex-grow: 1;
}

.intro{
   font-weight: bold;
   font-size: 1.3rem;
   padding: 20px;
}


.form{
   background-color: white;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 20px 40px;
}

.form p{
   font-weight: 700;
   font-size: 2rem;
}

form{
   display: flex;
   flex-direction: column;
   gap: 20px;
  
}

.form-row{
   display: flex;
   gap: 50px;
}

.form-column{
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 5px;
}

.form-column input:not(.error){
   border: 1px solid #E5E7EB;
   border-radius: 3px;
   height: 30px; 
}

.form-column input:focus{
   border-color: blue;
   outline: none;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.error{
   border: 1px solid red;
   border-radius: 3px;
   height: 30px; 
}




