@font-face {
   font-family: logo-font;
   src: url(Assets/Norse-Bold.otf);
}

:root{
   font-size: 18px;
   box-sizing: border-box;
}


p,body{
   margin: 0;
   padding: 0;
}
 
.container{
   display: flex;
   height: 100vh;
}

.left-container{
   flex: 1; 
   background-image: url('Assets/photo.avif');
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,.5);
   color: white;
   padding: 15px 0;
   font-family: logo-font , sans-serif ;
   font-size: 5.5rem; 
   margin-top: 220px;
}


.logo img{
   width: 100px;
   height: auto;
}
  


.right-container{
   flex: 2;
   display: flex;
   flex-direction: column;
   background-color: #F9FAFB;
   gap : 40px
}

.right-container > div{
   flex:1;
}

.intro{
   font-weight: bold;
   font-size: 1.3rem;
   padding-left: 40px;  
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: flex-end;
}


.form{
   background-color: white;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 20px 40px;
}

.form p{
   font-weight: 700;
   font-size: 2rem;
}

form{
   display: flex;
   flex-direction: column;
   gap: 20px;
  
}

.form-row{
   display: flex;
   gap: 50px;
}

.form-column{
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: 5px;
}

.form-column input:not(.error){
   border: 1px solid #E5E7EB;
   border-radius: 3px;
   height: 30px; 
}

/* .form-column input:focus{
   border-color: blue;
   outline: none;
  
} */

.error,.success{
   border-radius: 3px;
   height: 30px; 
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   outline-width: 0;
}

.error{
   border: 1px solid red;
}

.success{
   border: 1px solid green;
}

/* input:invalid{
   border-color: #900;
   background-color: #FDD;
} */


.finish{
   padding-left: 40px;
}

.finish button{
   padding: 15px 40px;
   border-radius: 10px;
   font-size: 1.2rem;
   background-color: #f5f5ff;
   color: black;
   border: none;
   box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
   margin-bottom: 30px;
}

.finish p{
   font-size: 1.2rem;
}

.finish span{
   color: #596D48;
}

.finish button:hover{
   background-color: green;
   color: white;
}





